/*---------------------------------------------------------------------
                              INTRO
---------------------------------------------------------------------*/
.intro { margin:auto; display:block; background:url('../img/intro.jpg'); width:652px; height:295px; text-align: center; }



/*---------------------------------------------------------------------
                              WORKS
---------------------------------------------------------------------*/
.container { position:relative; top:150px; }
.works { position:relative; float:left; top:40px; padding-left:40px; padding-right:40px; top:70px;}
.work{ float:left;}
.work img { width:100%; }



/*---------------------------------------------------------------------
                              ABOUT
---------------------------------------------------------------------*/
.about { position:relative; top:280px; width:100%; height:453px; float:left; background:url('../img/tile_about.jpg'); background-repeat: repeat-x;}
.about_container { width:100%; float:left; padding-top: 100px; max-width: 1400px; }

/*   left   */
.about .title {width:166px; height:41px; display:block; background:url('../img/about_title.jpg');}
.about .left { width:420px; float:left; position:relative; margin: 0 60px 0 40px; }
.about .left .button a {display:block; border:none; width:205px; height:29px; background:url('../img/home/buttons.png');}
.about .left .button a:hover {background-position:0 87px;}


/*   right   */
.about .right { overflow: hidden; }
.about .right > div { width: 33.3333%; background:url('../img/divider_about.jpg') left top repeat-y; float:left; margin: 50px 0 0; padding: 0 5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.about .right > div > div { height:144px; display:block; margin-right: auto; margin-left: auto; position:relative; margin-top:16px; margin-bottom: 20px;}

.about .rit {width:123px; background:url('../img/about_rit.jpg'); }
.about .years {width:75px; background:url('../img/about_years.jpg'); }
.about .location {width:78px; background:url('../img/about_location.jpg'); }


/*---------------------------------------------------------------------
                              CONTACT
---------------------------------------------------------------------*/

.contact { position:relative; top:280px; width:100%; height:453px; float:left; background:url('../img/home/tile_contact.jpg'); background-repeat: repeat-x;}
.contact_container { width:100%; padding-top: 100px; max-width: 1400px; text-align:right;}
.contact .title {width:147px; height:42px; display:block; float:left; background:url('../img/home/contact_title.jpg'); margin-left:40px;}


.email_container { margin:auto; float:right; margin-left:40px; margin-right:40px; }
.email_container p { float:left; width:auto; text-align:left;}

.email_container .button{ width:258px; padding-left:366px; padding-top:9px;}
.email_container .button a { display:block; border:none; width:258px; height:29px; background:url('../img/home/buttons.png'); background-position:0 58px;}
.email_container .button a:hover {background-position:bottom;}
.contact_container .divider {width:auto; height:1px; display:block; background:url('../img/home/contact_divider.jpg'); background-repeat: repeat-x; margin-top:60px; margin-left:40px; margin-right:40px;}


.contact .social_container {width:auto; display:block; border-radius: 3px; background-color:#FFFFFF; height:176px; margin-top:20px; margin-left:40px; margin-right:40px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.social_container > div > div > div {margin-top:30px; margin-bottom:30px; display:block; height:27px; margin-left:auto; margin-right:auto; text-align:center;}
.social_container > div > div { background:url('../img/home/contact_divider-social.jpg') right top repeat-y; width: 20%; float:left;}

.social_container .divider {margin:auto; position:relative; top:85px; display:block; height:1px; background:url('../img/home/contact_divider.jpg');}
.social_container > div div:nth-of-type(5){ background-image: none;}

.social_container > div > div:hover > div{ background-position: left bottom;}
.social_container > div > div a {margin:auto; width:100%; height:100%; display:block;}

.twitter {background:url('../img/home/contact_twitter.jpg'); width:90px;}
.facebook {background:url('../img/home/contact_facebook.jpg'); width:104px; }
.dribbble {background:url('../img/home/contact_dribbble.jpg'); width:96px; }
.pinterest {background:url('../img/home/contact_pinterest.jpg'); width:102px; }
.tumblr {background:url('../img/home/contact_tumblr.jpg'); width:85px; }
.klout {background:url('../img/home/contact_klout.jpg'); width:76px; }
.linkedin {background:url('../img/home/contact_linkedin.jpg'); width:96px; }
.foursquare {background:url('../img/home/contact_foursquare.jpg'); width:120px; }
.google {background:url('../img/home/contact_google.jpg'); width:99px; }
.spotify {background:url('../img/home/contact_spotify.jpg'); width:88px; }

/*---------------------------------------------------------------------
                          MEDIA QUERIES
---------------------------------------------------------------------*/


/*       Less than 600px     */
@media (max-width: 526px) {
	.intro { background:url('../img/intro.jpg'); display:block; width:0px; height:0px; }
	.work { width:100%; margin-bottom:5%;}
	.contact .email_container { float:none; width:258px; padding-top:50px; margin-right:0px; margin-left: 40px; }
	.contact .email_container .button {padding-left:0px;}
	.contact .email_container p {height:0px; width:0px; visibility: hidden; }
	.contact_container .divider { margin-top: 20px; }
	.social_container > div > div > div {width:34px;}

}



/*       Less than 600px     */
@media (min-width: 527px) and (max-width: 599px) {
	.intro { background:url('../img/intro.jpg'); display:block; width:0px; height:0px; }
	.work { width:100%; margin-bottom:5%;}
	.contact .email_container { width:258px; margin-right:40px; margin-left: 0px; }
	.contact .email_container .button {padding-left:0px;}
	.contact .email_container p {height:0px; width:0px; visibility: hidden; }
	.social_container > div > div > div {width:34px;}
	
}


@media (max-width: 722px) {
	.about .right {visibility: hidden;}
	.about .left {width:auto;}

	.contact .email_container { width:258px; margin-right:40px; margin-bottom: 0px; }
	.contact .email_container .button {padding-left:0px;}
	.contact .email_container p {height:0px; width:0px; visibility: hidden; }
	.social_container > div > div > div {width:34px;}
}


@media (min-width: 723px) and (max-width: 889px) {
	.about .right > div:nth-of-type(1) {width:98%; padding:0 10%;}
	.about .right > div:nth-of-type(2) {width:0px; padding:0 0;}
	.about .right > div:nth-of-type(3) { width:0px; padding:0 0;}
	.about .years {width:0px;}
	.about .location {width:0px;}

	.contact .email_container { width:258px; margin-right:40px; margin-bottom: 0px; }
	.contact .email_container .button {padding-left:0px;}
	.contact .email_container p {height:0px; width:0px; visibility: hidden; }
	.social_container > div > div > div {width:34px;}
}

/*       Less than 990px, More than 880px      */
@media (min-width:890px) and (max-width: 990px) {
	.about .right > div:nth-of-type(1) {width:50%; padding:0 10%;}
	.about .right > div:nth-of-type(2) {width:50%; padding:0 10%;}
	.about .right > div:nth-of-type(3) { width:0px; padding:0;}
	.about .location {width:0px;}
}


/*       Less than 1200px, More than 600px      */
@media (min-width:600px) and (max-width: 1199px) {

	.intro { background:url('../img/intro.jpg'); display:block; width:652px; height:295px; }
	.work { width:49%; margin-bottom:2%; }
	.work:nth-of-type(2n) { margin-left:2%; }
}


/*       Less than 1400px, More than 1200px      */
@media (min-width:1200px) and (max-width:1400px){
	.work { width:100%;}
	.work {	width:32.333333333333333%;}
	.work:nth-of-type(2n) { margin-left:1.2%; }
	.work:nth-of-type(3n) { margin-left:1.2%; }
}


/*       More than 1400px      */
@media (min-width: 1401px) {
	.work {	width:32.333333333333333%;}
	.work:nth-of-type(2n) { margin-left:1.2%; }
	.work:nth-of-type(3n) { margin-left:1.2%; }
	.works {float:none; margin:auto; text-align:center; width:1321px;}
	.about_container { float:none; width:1400px; margin:auto;}

	.contact .contact_container {width:1400px; margin:auto;}
	.contact .social_container {width:1321px;}
}