body { margin:0 auto; background:url('../img/tile_bg.jpg'); background-repeat: repeat-x; background-color:#0c1218; }


header {position:fixed; top:0px; z-index:1; width:100%; height:98px; display:block; background:url('../img/tile_header.png'); background-repeat: repeat-x;}
.logo a { position:relative; top:14px; margin-left:40px; background:url('../img/logo.jpg'); display:block; width:58px; height:55px; }
.logo a:hover { background-position: 0px 73px ;}



.nav_container{ width:100%;}
@media screen and (min-width: 1401px) {		.nav_container {width:1400px; margin:auto;}		}

nav {margin-left: 40px; margin-right: 40px; float:right; width:337px; position:relative; bottom:24px;}

nav #home a {background:url('../img/nav_home.jpg'); width:59px; height:28px; display:block; float:left;}
nav #home a:hover { background-position: bottom; }

nav #work a {background:url('../img/nav_work.jpg'); width:68px; height:28px; display:block; float:left; }
nav #work a:hover { background-position: bottom; }

nav #about a {background:url('../img/nav_about.jpg'); width:130px; height:28px; display:block; float:left; }
nav #about a:hover { background-position: bottom; }

nav #contact a {background:url('../img/nav_contact.jpg'); width:80px; height:28px; display:block; float:left; }
nav #contact a:hover { background-position: bottom; }






footer {width:100%; height:68px; display:block; background:url('../img/tile_footer.jpg'); float:left; position:relative; top:280px;}
.footer_container {margin:auto;}
footer p {font-size: 10px; margin-left:40px; margin-top:23px;}

@media screen and (min-width: 1401px) {
	.footer_container {width:1400px; margin:auto;}
}


p{ font-family: Arial, sans-serif; font-size: 13px; color: #7b8a9a; line-height: 20px;}